body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    z-index: 1;

    overflow: hidden;
}

#body-div {
  flex: 1;
  background-color: #797979;
  width: calc(100% - 60px); /* Subtract sidebar width from 100% */
  height: 100vh;
  overflow-y: none;
  
  display: flex;
  flex-wrap: wrap; /* Enable wrapping of content containers */
  justify-content: space-around; /* Distribute space evenly between containers */
}

.content-container {
    flex-basis: 45%;
    margin: 3px;
    background-color: rgba(250, 235, 215, 0);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.content-container > h1 {
    text-align: center;
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-button {
    height: 55px;
    width: 370px;
    align-self: center;

    margin-top: 4px;
    margin-bottom: 4px;

    font-size: 20px;


}


#popup-div {
    position: absolute;
    bottom: -30%;
    left: 50%;
    right: 50%;
    width: 400px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;

    border-color: black;
    border-width: 4px;
    border-style: solid;

    margin-bottom: 50px;
    border-radius: 12px;

    transition: bottom 0.2s ease-in-out;

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;

}

#popup-div.active {
    bottom: 0%;
}

#popup-div.success {
    border-color: #00ff00;
    color: #00ff00;
}

#popup-div.error {
    border-color: #fd0000;
    color: #fd0000;
}