#div-sidebar {
    flex: 0 0 314px;
    z-index: 2;
    background-color: #323232;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}

.SidebarButton {
    height: 44px;
    width: 222px;

    font-size: 22px;

    background-color: #D9D9D9;
    border-radius: 8px;
    border-style: none;
}

.SidebarButton.active {
    background-color: #797979;
    color: white;

}


.SidebarButton:active {
    background-color: #4b4b4b;
    color: white;
    font-size: 20px;
    font-weight: bold;
}